/* body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  } */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .my-bg-image {
    background-image: url("/public/img/Vector.svg");
    background-repeat: no-repeat;
    
    /* background: linear-gradient(180deg, rgba(98, 106, 136, 0.1) 0%, rgba(46, 49, 73, 0.1) 107.43%);
    backdrop-filter: blur(100px); */
  }

  .signup-height{
    height:calc(70% - 120px);
  }

  .brand-logo {
    background: linear-gradient(180deg, rgba(98, 106, 136, 0.1) 0%, #333333 100%);
    backdrop-filter: blur(100px);
    
  }
}